useDynLib(gtools)

export(
       addLast,
       ask,
       assert,
       ASCIIfy,
       binsearch,
       capture,
       checkRVersion,
       combinations,
       ddirichlet,
       defmacro,
       even,
       foldchange,
       foldchange2logratio,
       getDependencies,
       inv.logit,
       invalid,
       keywords,
       lastAdd,
       loadedPackages,
       logit,
       logratio2foldchange,
       mixedorder,
       mixedsort,
       na.replace,
       odd,
       permutations,
       permute,
       quantcut,
       rdirichlet,
       running,
       scat,
       setTCPNoDelay,
       smartbind,
       sprint,
       stars.pval,
       strmacro
       )
